@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

article{
	break-after: page;
}

[epub|type~="z3998:poem"] p,
[epub|type~="z3998:verse"] p{
	text-align: initial;
	text-indent: 0;
}

[epub|type~="z3998:poem"] p + p{
	margin-top: 1em;
}

[epub|type~="z3998:poem"] p > span,
[epub|type~="z3998:verse"] p > span{
	display: block;
	text-indent: -1em;
	padding-left: 1em;
}

[epub|type~="z3998:poem"] p > span + br,
[epub|type~="z3998:verse"] p > span + br{
	display: none;
}

[epub|type~="z3998:poem"] p.voice{
	font-weight: bold;
}

[epub|type~="z3998:poem"] p.voice + p{
	margin-top: 0;
}

p span.i1{
	text-indent: -1em;
	padding-left: 2em;
}

p span.i2{
	text-indent: -1em;
	padding-left: 3em;
}

p span.i3{
	text-indent: -1em;
	padding-left: 4em;
}

[epub|type~="bridgehead"]{
	display: inline-block;
	font-style: italic;
	max-width: 60%;
	text-align: justify;
	text-indent: 0;
}

[epub|type~="bridgehead"] i{
	font-style: normal;
}

[hidden]{
	display: none !important; /* Just in case the ereader doesn't understand hidden */
}

[hidden] + p{
	margin-top: 3em;
}
